@media (width < 1350px) {
  .placeholder-caption{
    display: none;
  }

  .main-projectpg {
    flex-direction: column;
  }

  .project-caption {
    width: 100%;
    max-width: 55ch;
    position: static;
  }

  

  .project-pics{
    gap: 3vw;
  }

  .elastic-main-projectpg{
    flex-direction: row;
  }
}

@media (width < 960px) {

  

  .elastic-main-projectpg{
    flex-direction: row;
  }


  .cards {
    grid-template-columns: 1fr;
    row-gap: 4.5vw;
  }

  .card {
    gap: 2vw;
  }

  .main-aboutpg {
    margin-top: 7rem;
    margin-bottom: 2.5rem;
    padding-top: 0;
    padding-inline: 3.5vw;
    max-width: none;
  }

  

  nav {
    justify-content: space-between;
  }

  nav ul {
    position: static;
    width: auto;
    gap: 5.8vw;
  }

  .img-avatar {
    width: 100%;
    max-width: 375px;
    order: 2;
    /* width: 350px; */
  }

  .content-about {
    flex-direction: column;
    /* gap: 1.5rem; */
    gap: 0;
  }

  .text-about {
    width: 100%;
  }

  .contact-info {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  
}

@media (width < 800px) {
  .elastic-main-projectpg{
    flex-direction: column;
  }
}

@media (width < 460px) {
  

  nav ul {
    display: none;
  }

  .btn-burger {
    display: block;
  }
}
