html{
  scroll-behavior: smooth;

}

h1 {
  font-size: 1.75rem;
  margin-bottom: 0.8rem;
  font-weight: 600;
}

main {
  margin-top: 9rem;
}

p {
  font-size: 0.98rem;
}

.main-projectpg {
  /* margin-top: 8.5rem; */
  padding-inline: 4vw;
  display: flex;
  flex-direction: row;
  gap: 4vw;
}

.project-pics {
  width: 100%;
  display: flex;
  gap: 2vw;
  flex-direction: column;
  /* justify-content: center; */
}

.project-pics > * {
  width: 100%;
  scale: 1;
}

.fs-movie-demo {
  width: 100%;
  scale: 1;
}

.captioned-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: start;
  scroll-margin-top: 100px;
}

#el-item-1{
  scroll-margin-top: 200px;
}

#el-item-3{
  scroll-margin-top: 0px;
}

.captioned-item p {
  color: rgb(87, 87, 87);
}

ul {
  padding-left: 0px;
  margin-bottom: 1rem;
}

h2,
h3 {
  color: #d57888;
  /* color: #3189c4; */
  font-weight: 400;
  font-family: "Geist Mono";
}

h2 {
  font-size: 1.1rem;

  text-transform: uppercase;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1rem;
}

.highlighted {
  /* background-color: #f1e298; */
  color: rgb(0, 255, 85);
}

.project-caption {
  width: 100%;
  max-width: 55ch;
  position: fixed;
  margin-inline: auto;
}

.placeholder-caption {
  width: 100%;
  max-width: 55ch;
  display: block;
}

  /* .elastic-project-caption{
    position: fixed;
  } */

.project-caption p {
  margin-bottom: 1rem;
}

.project-caption a {
  /* font-family: "Geist Mono"; */
  /* text-transform: uppercase; */
}

.project-caption ul li {
  margin-bottom: 0rem;

  display: flex;
  gap: 1rem;
}

.project-caption ul li p {
  font-family: "Geist Mono";
}


.captioned-item > *{
    width: 100%;
}

.captioned-item video{
    width: 100%;
    scale: 1;
}

.scroll-anchor{
    /* text-decoration-style: dashed; */
    text-decoration: none;
    font-weight: 600;
    /* color: #d33939; */
    /* color: rgb(0, 165, 55); */
      /* color: #db6579; */
    font-family: "Geist";
    
}

.scroll-anchor::before{
    content: "#";
}

.elastic-main-projectpg .project-pics{
    max-width: 850px;
}

.motion-teaser{
    max-width: 450px;
    /* margin: 0; */
}


.work-wu-poster{
  max-width: 660px;
  margin-inline: auto;
}

h2{
  margin-bottom: 2.5rem;
  color: rgb(88, 88, 88);
  font-size: 1.05rem;
}

.project-caption ul{
  margin-top: 2.25rem;
}