html{
  scroll-behavior: smooth;

}

h1 {
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

main {
  margin-top: 9rem;
}

p {
  font-size: 0.98rem;
}

main.pg-with-thumbnail {
  margin-top: 0;
}

.pictogram-main-projectpg{
  margin-top: 66px;
}

.pictogram-main-projectpg .page-thumbnail{
  background-color: #3E5ED9;
  margin-top: 0;
  
}

.page-thumbnail{
  width: 100%;
  display: flex;
  margin-top: 66px;
  margin-bottom: 4vh;
  /* max-width: 1200px; */
  margin-inline: auto;
  /* padding: 5vh 0; */
  height: calc(80vh - 66px);
  min-height: 630px;
  max-height: calc(80vh - 66px);
  background-color: #338AC9;
  position: relative;
}

.thumbnail-tooltip{
  position: absolute;
  background-color: #000000;
  padding: 10px 20px;
  text-decoration: none;
  left: 0;
  color: #B2B2B2;
  top: 28px;
}

.thumbnail-tooltip:hover{
  /* opacity: 0.5; */
  /* background-color: #232323; */
  text-decoration: underline;
  transition: text-decoration 0.3s ease-in-out;

}

#elastic-h1{
  scroll-margin-top: 110px;
}

.page-thumbnail-fs{
  background-color: #E18594;
}

.page-thumbnail-tldr{
  background-image: url(assets/tldr\ mockup.png);
  background-size: cover;
  background-position: center 25%;
  height: calc(85vh - 66px);
  max-height: calc(85vh - 66px);
}

.page-thumbnail-fs video{
  
}

.page-thumbnail.page-thumbnail-elastic-mind {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: calc(100vh - 66px);
  max-height: calc(100vh - 66px);
}

.page-thumbnail-elastic-mind video {

  max-height: 103%;
  height: auto;
  object-fit: contain;
  flex-shrink: 1;
}

.main-projectpg {
  /* margin-top: 8.5rem; */
  /* padding-inline: 4vw; */
  display: flex;
  flex-direction: row;
  gap: 4vw;
}

.project-pics {
  width: 100%;
  max-width: 1200px;
  display: flex;
  gap: 5vw;
  margin-inline: auto;
  flex-direction: column;
  align-items: center;
  
  justify-content: center;
}

.project-pics > * {
  width: 100%;
  scale: 1;
}

.fs-movie-demo {
  width: 100%;
  scale: 1;
}

.captioned-item {
  display: flex;
  flex-direction: column;
  gap: 1.8vw;
  position: relative;
  justify-content: center;
  align-items: center;
  scroll-margin-top: 100px;

}

.floating-caption-wrap{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.floating-caption{
  /* position: absolute; */
  text-align: center;
  display: flex;
  /* flex-direction: column; */
  gap: 1rem;
  justify-content: center;
}

.floating-caption-title{
  font-family: "Geist Mono";
  text-transform: uppercase;
  font-weight: 400;
  opacity: 0.8;
  
}

.floating-caption-detail{
  /* font-size: 0.92rem; */
  opacity: 0.5;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  
}


/* #el-item-1{
  scroll-margin-top: 200px;
}

#el-item-3{
  scroll-margin-top: 0px;
}

#el-item-3 video{
  height: calc(100vh-75px);
  width: 70%;
} */

#el-item-4{
  width: 80%;
}



ul {
  padding-left: 0px;
  margin-bottom: 1rem;
}

h2,
h3 {
  color: #d57888;
  /* color: #3189c4; */
  font-weight: 400;
  font-family: "Geist Mono";
}

h2 {
  font-size: 0.95rem;

  text-transform: uppercase;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1rem;
}

.highlighted {
  /* background-color: #f1e298; */
  color: rgb(0, 255, 85);
}

.non-cs-pg{
  display: flex;
  flex-direction: column !important;
  gap: 2vh;
}


.project-caption {
  width: 100%;
  max-width: 55ch;
  position: relative;
  margin-inline: auto;
  
}

.non-cs-pg .project-pics > *{
  width: 100%;
}

.placeholder-caption {
  width: 100%;
  max-width: 55ch;
  display: block;
}

  /* .elastic-project-caption{
    position: fixed;
  } */

.project-caption p {
  margin-bottom: 1rem;
  font-size: 0.92rem;
  line-height: 1.28;
  font-weight: 350;
  opacity: 0.7;
}

.project-caption a {
  /* font-family: "Geist Mono"; */
  /* text-transform: uppercase; */
}

.project-caption ul li:not(.list-case-study li) {
  margin-bottom: 0rem;

  display: flex;
  gap: 1rem;
}

.project-caption ul li p:not(.list-case-study li p) {
  font-family: "Geist Mono";
}


.captioned-item > *{
    width: 100%;
}

.captioned-item video{
    width: 100%;
    scale: 1;
}

.scroll-anchor{
    /* text-decoration-style: dashed; */
    text-decoration: none;
    font-weight: 600;
    /* color: #d33939; */
    /* color: rgb(0, 165, 55); */
      /* color: #db6579; */
    font-family: "Geist";
    
}

.scroll-anchor::before{
    content: "#";
}

.dark-mode-lighter, .dark-mode-lighter nav, .dark-mode-lighter nav ul, .dark-mode-lighter p, .dark-mode-lighter h1, .dark-mode-lighter h2, .dark-mode-lighter h3{
  background-color: #1C1C1C;
}

.dark-mode ul h3{
  color: #C4D938;
}

.elastic-main-projectpg .project-pics > *{
  margin-inline: auto;
    /* max-width: 850px; */
}

.elastic-teaser-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.elastic-poster{
  max-width: 1050px;
}

.motion-teaser{
    /* max-width: 450px; */
    width: 80%;
    scale: 1;
    max-width: 1050px;
    
    
    /* margin: 0; */
}

.film-wherewhatwhere{
  outline: 1px solid rgb(68, 68, 68);
  border-radius: 1.85rem;
}

.pictogram-static{
  width: 100%;
  max-width: 100vh;
}

.pictogram-motion{
  /* aspect-ratio: 10/10; */
  padding: 3% 5%;
  background-color: #3E5ED9;
  max-width: 780px;
}

.sf-bookcover{
  max-width: 850px;
}

.work-wu-poster{
  max-width: 660px;
  margin-inline: auto;
}

h2{
  margin-bottom: 2.5rem;
  color: rgb(88, 88, 88);
  font-size: 1rem;
}

.project-caption ul:not(.list-case-study){
  margin-top: 2.25rem;
}

.item-tldr-recorded > .tldr-demo{
  aspect-ratio: 10/10;
  max-height: 680px;
  padding: 1rem 0px;
  background-color: black;
  display: flex;
  justify-content: center;
  
}

.img-tldr-ui{
  width: 90%;
}

.item-tldr-recorded > div video{
  width: auto;
  /* aspect-ratio: 10/8; */
  height: 100%;
  /* scale: 0.5; */
}

.item-pictogram-recorded >div{
  width: 100%;
  display: flex;
  background-color: #3E5ED9;
}

.item-pictogram-recorded video{
  max-width: 85vh;
  justify-self: center;
  max-height:85vh;
  padding: 36px 50px;
  margin-inline: auto;
  
}


.dino-landing-demo{
  max-width: 600px;
}

.dino-event-demo{
  border-radius: 4%;
}

.item-dino-recorded{
  max-width: 600px;
  /* margin-inline: auto; */
}

.dephy-project-pics > div{
  width: 80%;
  margin-inline: auto;
}

.concert-project-pics{
  width: 50%;
}

.concert-project-pics > div{
  max-width: 600px;
  margin-inline: auto;
}

.hurricane-seq{
  width: 80%;
}

/* case study */
.main-projectpg.case-study-project{
  flex-direction: column;
  gap: 2rem;
}

.main-projectpg.case-study-project .project-caption{
  position: relative;
  width: 100%;
  max-width: 80ch;
}

.case-study-header{
  width: 100%;
  max-width: 80ch;
  margin-inline: auto;
  position: relative;
}

.case-study-header h2{
  text-transform: none;
  font-family: "Geist";
  margin-top: 1rem;
  margin-bottom: 20px;
  
}

.case-study-project section{
  margin-bottom: 4.5rem;
}

.list-case-study-info{
  display: grid;
  grid-template-columns: auto auto;
  
  grid-template-rows: 50% 50%;
  column-gap: 4rem;
  row-gap: 0.1rem;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 100%;
}

.list-case-study-info li{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.list-case-study-info .entry-header{
  width: 140px;
  font-family: "geist mono";
  color: #4E7E44;
}

.list-case-study-info .entry-header, h3{
  color: #4E7E44;
  font-size: 0.9rem;
  margin-bottom: 1.3rem;
}

.list-case-study-info .entry-content{
  font-family: "geist";
  font-size: 0.95rem;
}

.list-case-study-problems{
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* max-width: 60ch; */
  margin-bottom: 2.5rem;
  margin-inline: auto;
}

.list-case-study-problems li{
  flex-direction: column;
  padding-left: 1.5rem;
  border-left: 3px solid #4E7E44;
}



.list-case-study li h4{
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.list-case-study li p{
  font-family: "geist";
  margin: 0;
  opacity: 1;
  font-size: 0.9rem;
}

.list-case-study-problems li p{
  opacity: 0.5;
}

.img-casestudy-cover{
  width: 90%;
  margin-inline: auto;
}

.img-case-study-body{
  width: 140%;
  position: relative;
  right: 20%;
}



.video-app-highlights{
  width: 100%;
  scale: 1;
  border-radius: 0px;
}

.product-highlight-entries{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  margin-inline: auto;

}

.product-highlight-entry{
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0rem;
  
}

.product-highlight-entry div{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.4rem;
  /* order: 2; */
}

.product-highlight-entry h4{
  font-weight: 600;
  /* width: 35%; */
}

.product-highlight-entry h4 i{
  font-size: 1rem;
}

.product-highlight-entry p{
  font-size: 0.9rem;
  opacity: 0.6;
  line-height: 1.28;
}

.section-mockup img{
  width: 100%;
}

.section-ui-design img{
  width: 130%;
  position: relative;
  left: -15%;
}

.section-design-system img{
  width: 100%;
}

.img-mockup{
  margin-top: 1.3rem;
}

.btn-back{
  padding: 0.6rem 1rem;
  border-radius: 6px;
  text-decoration: none;
  background-color: #ebebeb;
  color: #6f6f6f;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 0.5rem;
  position: absolute;
  left: -35%;
  top: 0;
}

.btn-back:hover{
  background-color: #e6e6e6;
  transition: background-color 0.3s ease-in-out;
}

.dark-mode .btn-back{
  background-color: #161616;
  color: #959595;
}

.dark-mode .btn-back:hover{
  background-color: #232323;
  transition: background-color 0.3s ease-in-out;
}


.btn-back i{
  color: #6f6f6f;
}

.wrapper-design-system{
  width: 130%;
  position: relative;
  left: -15%;
  height: 80vh;
  overflow-y: scroll;
  background-color: #FEFCFA;
  /* border: 1px solid #e5e5e5; */
  border-radius: 1rem;
  padding-inline: 2rem;
}