*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Geist";
    color: #121212;
}

header{
    background-color: #F6F6F6;
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
}

nav {
    display: flex;
    padding-top: 2rem;
    /* padding-inline: 4.6rem; */
    padding-inline: 3.5vw;
    /* padding-bottom: 3rem; */
    /* padding-bottom: 0.9vw; */
    padding-bottom: 0.5vw;
    align-items: center;
    position: relative;
    
    background-color: #F6F6F6;
    /* background-color: aqua; */
    
    
}

body{
    background-color: #F6F6F6;
}

.about-body{
    height: 100vh;
    /* background-color: #E08494; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main{
    margin-top: 6.5rem;
    margin-bottom: 4.5rem;
}

.main-aboutpg{
    padding-top: 14vw;
    padding-inline: 5vw;
    margin-top: 0;
    /* max-width: 70ch; */
    /* height: calc(100vh - 16.5rem); */
    /* background-color: #E08494; */
}

.main-aboutpg p{
    margin-bottom: 1rem;
}

hr{
    border: 0.25px dashed #c8c8c8;
}

footer{
    padding: 2rem 3.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .icons{
    display: flex;
    gap: 0.5rem;
}

footer .icons a{
    text-decoration: none;
    font-size: 1.6rem;
}

.logo{
    font-weight: bold;
    font-size: 1.1rem;
    z-index: 200;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.logo img{
    width: 2.3rem;
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
}

nav ul {
    padding: 0;
    display: flex;
    gap: 3.5rem;
    position: absolute;
    width: 94vw;
    /* background-color: aqua; */
    z-index: 10;
    justify-content: center;
    background-color: #F6F6F6;
}

ul li{
    list-style: none;
    padding: 0;
    font-size: 0.95rem;
}

.btn-burger{
    display: none;
    border: none;
    background: none;
    
}

.loading{
    margin: auto;
    position: absolute;
    left: 30%;
}


.material-symbols-outlined {
  font-size: 1.7rem;
}

.cards{
    display: grid;
    column-gap: 1.5vw;
    row-gap: 2.5vw;
    margin-inline: 3.5vw;
    grid-template-columns: 1fr 1fr;
    
}


.card{
    display: flex;
    flex-direction: column;
    gap: 1.2vw;
}

.card-thumbnail{
    aspect-ratio: 1.77;
    /* height: 200px; */
    /* height: 26vw; */
    background-color: #121212;
    display: flex;
}

.card-text{
    display: flex;
    flex-direction: column;
    gap: 0.25vw;
    text-transform: uppercase;
}

.work-title{
    
}

.work-caption{
    font-family: "Geist Mono";
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 300;
}

.bold{
    font-weight: 600;

}


video{
    object-fit: cover;
    margin-inline: auto;
    /* width: 80%; */
    scale: 0.9;
}

.thumb-img{
    margin-inline: auto;
    width: 100%;
}

.card-fs .card-thumbnail{
    background-color: #E08494;
}


.video-fs{
    /* justify-self: center; */
    /* aspect-ratio: 631/438; */
    width: 80%;
    scale: 0.9;
    margin-inline: auto;
    background-color: antiquewhite;
    /* height: ; */
}

.video-elastic{
    object-fit: contain;
    width: 100%;
    scale: 0.9;
}

.video-mm{
    object-fit: contain;
    width: 90%;
    scale: 0.9;
}

.card-superfast .card-thumbnail{
    background-color: black;
    
}

.card-mm .card-thumbnail{
    background-color: black;
}

.video-superfast{
    scale: 0.9;
    width: 100%;
}

.card-videssay .card-thumbnail{
    background-color: white;
}

.video-essay{
    scale: 1;
    width: 100%;
}

.card-wu .card-thumbnail{
    background-image: url("assets/wu\ blurred\ bg\ 1.png");
    /* background-size: cover; */
    background-size: 200%;
    background-position-y: 12%;
    /* background-blend-mode: color-dodge; */
}

.img-wu-poster{
    width: 65%;
    scale: 1;
}

.card-booklets .card-thumbnail{
    background-image: url("assets/booklet-thumbnail.png");
    background-size: cover;
}

.card-tldr .card-thumbnail{
    background-color: #F6F6F6;
}



.img-tldr{
    width: 94%;
    object-fit: contain;
}

.card-dephy .card-thumbnail{
    background-image: url("assets/node_3\ 1.png");
    background-size: contain;
    background-position: center;
}

.card-dino .card-thumbnail{
    background-image: url("assets/dino-thumb.png");
    background-size: contain;
    background-position: center;
}

.card-bird .card-thumbnail{
    background-image: url("assets/bird-thumb.png");
    background-size: contain;
    background-position: center;
}


.no-display{
    display: none;
}

.img-avatar{
    /* width: 100%;
    max-width: 350px; */
    width: 350px;
}

.content-about{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: center;
}

.text-about{
    max-width: 55ch;
    /* align-self: end; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-about i{
    display: inline-block;
    width: 1.6rem;
    text-align: left;
    font-size: 1.2rem;
}

.contact-info{
    margin-top: 4rem;
}

.contact-info p{
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.contact-info a{
    
}

.contact-entry{
    display: inline-block;
    margin-left: 5px;
}

.ph-device-mobile{
    /* rotate: -10deg; */
}